<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>林宜潔首頁</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		</style>
		
		


</head>
<body>

	<a href="lyj.html" target="me">關於宜潔</a></br>
	<a href="https://www.104.com.tw/" target="me">104人力銀行</a></br>


	<iframe width = 800 height = 600 src="https://www.youtube.com/embed/Py8G02mTzTY" name="me"
	style="width:100%; height: 100vh;">
		
	</iframe>


	
</body>
</html>